body {
     color: white;
     background-image: linear-gradient(blue, violet);
     background-repeat: no-repeat;
     background-color: #23272a;
     background-attachment: fixed;
}

 div.text {
     text-align: center;
     font-family: 'Lexend Exa', sans-serif;
}

 div.text h1{
     font-size: 9vw;
     font-weight: bold;
     margin: 20vw;
     background-color: #000000;
}

 div.text p1{
     font-size: 6vw;
     font-weight: normal;
     margin: 20vw;
     background-color: #000000;

div.socials {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 #overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: url("scanlines.png");
     z-index: 2;
     pointer-events: none;
}
 
