body {
  color: white;
  background-image: url("bg-crosshatch.png");
  background-repeat: repeat;
  background-color: #23272a;
}

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>

div.a {
text-align: center;
font-family: 'Lexend Exa', sans-serif;
}

div.a h1{
font-size: 9vw;
font-weight: bold;
}

div.a p1{
font-size: 6vw;
font-weight: normal;
}

<div class="footer">
  <p>Footer</p>
</div>
