body {
  color: white;
  background-image: url("bg-crosshatch.png");
  background-repeat: repeat;
  background-color: #23272a;
}

div.a {
text-align: center;
font-family: 'Lexend Exa', sans-serif;
}

div.a h1{
font-size: 9vw;
font-weight: bold;
}

div.a p1{
font-size: 6vw;
font-weight: normal;
}
